.bg-Container {
  background-color: #ffffff;
}
.main-app {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h1 {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.p1 {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
}
.p2 {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
}
.btn-1 {
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 10px;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
